[Desktop Entry]
Type=Application
Name=MediaPad XFCE setup
Exec=/usr/libexec/s10-xfce-session-fix
OnlyShowIn=XFCE;
NoDisplay=true
X-GNOME-Autostart-enabled=true
